.to-do{
    width: 600px;
    height: 400px;
    border-radius: 9px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
}
.disapper{
    display: none;
}


#list .list-group-item {
    cursor: move;
    position: relative;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}


.dragging {
    z-index: 1000;
    cursor: grabbing; 
    background-color: #e0e0e0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.placeholder {
    height: 50px; 
    position: relative;
    margin-bottom: 10px;
    background-color: #f9f9f9; 
    border: 2px dashed #aaa; 
}
#edit-title-error{
    color: red;
}
